html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 426px) {
    header{
        left: 0px;
        height: 50px;
        /* border-radius: 5px; */
    }
    .logodiv{
        width: 50px;
    }
    #logo{
        width: 45px;
    }
    .links{
        font-family: Times New Roman !important;
        font-size:14px;
    }
    .dropdown-content {
        width: 100px;
        height: 150px;
        font-family: Times New Roman !important;
        font-size: 14px;
    }
    #titlediv{
        width: 100%!important;
    }
    #nonediv{
        width: 0px!important;
    }
    .mainsection{
        margin-top: 50px;
    }
    #firmname{
        margin-top: 25px;
        height: 70px;
        border-radius: 10px;
        font-size: 33.8px;
    }
    .content{
        top: 10;
        width: 90%;
        background-color: aliceblue;
        height: 40px;
    }
    .partitions{
        width: 80%;
        height: 600px;
        margin-top: 25px;
        flex-direction: column;
    }
    .posts{
        width: 160px;
        height: 160px;
        margin-top:4% ;
        margin-bottom:4% ;
    }
}
header{
    z-index: 1;
    width: 100%;
    background-color: #f2f4f8;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    align-items: center;
}

@media screen and (min-width: 426px) {
    header{
        left: 0px;
        height: 100px;
        /* border-radius: 10px; */
    }
    .logodiv{
        width: 100px;
    }
    #logo{
        width: 90px;
    }
    .links{
        font-size: x-large;
    }
    .dropdown-content {
        font-size: large;
        width: 150px;
    }
    .mainsection{
        margin-top: 100px;
    }
    #firmname{
        margin-top: 30px;
        height: 200px;
        border-radius: 15px;
        font-size: 80px;
    }
    .content{
        margin: 0;
        position: relative;
        left: 0px;
        width: 6%;
        background-color: aliceblue;
        height: 90%;
    }
    .content b{
        margin: 0;
        font-size: 20px;
        transform: rotate(-90deg);
    }
    .partitions{
        width: 90%;
        height: 300px;
        margin-top: 30px;
        flex-direction: row;
    }
    .posts{
        width: 260px;
        height: 260px;
        margin-left:4% ;
        margin-right:4% ;
    }
    
}
#titlediv{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: #1d3051;
    box-shadow: 5px 10px 25px 0.1px rgb(129, 123, 123);
    border-radius: 10px;
}
.logodiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Cursive, Brush Script MT;
}
.dropdown {
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 203, 203);
    font-family: Cursive, Brush Script MT;
    box-shadow: 5px 10px 25px 0.1px rgb(72, 71, 71);
    border-radius: 10px;
    z-index: 1;
} 
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}  
.dropdown:hover .dropdown-content {
    display: block;
}
.mainsection{
    background-color: #d5d4c9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#firmname{
    width: 90%;
    background-color: #e3e0be;
    box-shadow: 5px 10px 25px 0.1px rgb(72, 71, 71);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(32, 6, 51);
    font-family: Cursive, Brush Script MT;
}
.partitions{
    justify-content: center;
    background-color: #1d3051;
    box-shadow: 5px 10px 25px 0.1px rgb(72, 71, 71);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.posts{
    background-color: rgb(125, 202, 177);
    border-radius: 10px;
}
.imagesClass{   
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.posts:active{
    width: 350px;
    height: 350px;
    border-radius: 50px;
    box-shadow: 5px 10px 25px 15px #0a2966;

}
.imagesClass:active{
    border-radius: 50px;
}